
BmpTerminal/.vs/BmpTerminal/CopilotIndices/17.14.1577.30250/CodeChunks.db
BmpTerminal/.vs/BmpTerminal/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
BmpTerminal/.vs/BmpTerminal/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
BmpTerminal/.vs/BmpTerminal/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
BmpTerminal/.vs/BmpTerminal/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
BmpTerminal/.vs/BmpTerminal/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
BmpTerminal/.vs/BmpTerminal/FileContentIndex/c27980fb-389e-409b-98c3-f520f125f519.vsidx
